body
{
	font-family: 'Lato', sans-serif;
	font-size: 20px;
    background: #000000;
	background-image:url(../img/background.jpg);
	color: white;
}

#container
{
	width: 1000px;
    height: 100%;
	margin: auto;
	background-attachment: fixed;
}

#logo
{
	float: left;
	font-family: 'Josefin Sans', sans-serif;
	font-size: 500%;
	width: 100%;
	text-align: left;
}

#logo1
{
	float: left;
	font-family: 'Josefin Sans', sans-serif;
	font-size: 240%;
	width: 100%;
	text-align: left;
	color: whitesmoke;
}

.square
{
	width: 50%;
	float: left;
}

.box
{
    margin: 10px;
	width: 230px;
	height: 142px;
	background-color: #222222;
	float: left;
	text-align: center;
}

.box:hover
{
	background-color: #333333;
}

#kimjestem
{
    margin: 10px;
	width: 230px;
	height: 142px;
	background-color: #222222;
	float: left;
	text-align: center;
	cursor:pointer;
}

#kimjestem:hover
{
	background-color: #333333;
}

#kimjestemtext
{
	margin:50px 10px 10px 10px;
}

#kontakt
{
    margin: 10px;
	width: 230px;
	height: 142px;
	background-color: #222222;
	float: left;
	text-align: center;
	cursor:pointer;
}

#kontakt:hover
{
	background-color: #333333;
}

#kontakttext
{
	margin: 125px 10px 10px 75px;
	font-size: 30px;
}

#portfolio
{
    margin: 10px;
	width: 230px;
	height: 142px;
	background-color: #222222;
	float: left;
	text-align: center;
	cursor:pointer;
}

#portfolio:hover
{
	background-color: #333333;
}

#portfoliotext
{
	margin: 40px 10px 10px 10px;
	text-align:center;
	font-size: 30px;
}

#skills
{
    margin: 10px;
	width: 230px;
	height: 142px;
	background-color: #222222;
	float: left;
	text-align: center;
	cursor:pointer;
}

#skills:hover
{
	background-color: #333333;
}

#skillstext
{
	margin: 60px 10px 10px 30px;
	text-align:center;
}

.github
{
	margin: 10px;
	width: 105px;
	height: 142px;
	background-color: #111111;
	float: left;
	text-align: center;
	cursor:pointer;
}

.github:hover
{
	background-color: #000000;
}

.linkedin
{
	margin: 10px; 
	width: 105px;
	height: 142px;
	background-color: #0077B5;
    text-align: center;
	float: left;
}

.linkedin:hover
{
	background-color: #0066A4;
}
 
.wp
{
	margin: 10px;
	width: 105px;
	height: 142px;
    text-align: center;
	background-color: #21759b;
	float: left;
}

.wp:hover
{
	background-color: #10648a;
}
 
.dribbble
{
    margin: 10px 5px 5px 5px;
	width: 50px;
	height: 63px;
	background-color: #bd081c;
	float: left;
	text-align: center;
	cursor: pointer;
}

.dribbble:hover
{
	background-color: #ac070b;
}

.facebook
{
    margin: 10px 5px 5px 5px;
	width: 50px;
	height: 63px;
	background-color: #3b5998;
	float: left;
	text-align: center;
	cursor: pointer;
}

.facebook:hover
{
	background-color: #2a4887;
}

.behance
{
    margin: 10px 5px 5px 5px;
	width: 50px;
	height: 63px;
	background-color: #1769ff;
	float: left;
	text-align: center;
	cursor: pointer;
}

.behance:hover
{
	background-color: #1658ee;
}

.codepen
{
    margin: 10px 5px 5px 5px;
	width: 50px;
	height: 63px;
	background-color: #111111;
	float: left;
	text-align: center;
	cursor: pointer;
}

.codepen:hover
{
	background-color: #000000;
}


#tile
{
	width: 480px;
	height: 469px;
	background-color: #222222;
	text-align: justify;
	margin-top: 9px;
}

.content {
	height: 250px;
	width: 470px;
	margin: 0px 0px 0px 0px;
	padding-top: 10px;
    color: white;
	}		

#text
{
	height: 250px;
	width: 470px;
	margin: 0px 0px 0px 0px;
	text-align: center;
	font-size: 50px;
	padding-top: 150px;
    color: white;
}


/*#frontend
{
	float:left;
}

#statusfrontend
{
	background:#D2691E;
	padding:10px;
	width:0px;
	margin: 10px 0px 5px 13px;
	float:left;
	border-radius: 25px;
	text-align:center;
}

#backend
{
	margin-left: 10px;
	float:left;
}

#statusbackend
{
	background:#FF8C00;
	padding:10px;
	width:0px;
	margin: 0px 15px 10px 28px;
	display:inline-block;
	border-radius: 25px;
	text-align:center;
}
Turning on backend stage*/
#framework
{
	float:left;
	margin-left: 10px;
}

#statusframework
{
	background:#778899;
	padding:10px;
	width:0px;
	margin: 0px 15px 10px 13px;
	float:left;
	border-radius: 25px;
	text-align:center;
}

.rectangle
{
	width: 960px;
	margin: 20px;
	text-align: center;
}

.social
{
	margin: 10px;
	width: 105px;
	height: 142px;
	background-color: #4668b3;
	float: left;
}

.social:hover
{
	background-color: #3557a2;
}
	
a.tilelink
{
	color: #ffffff;
	text-decoration: none;
	display: block;
	width: 230px;
	height: 142px;
}

a.sociallink
{
	color: #ffffff;
	text-decoration: none;
	display: block;
	width: 105px;
	height: 142px;
}
a.logolink
{
	color: #ffffff;
	text-decoration: none;
}

a.iconlink
{
	color: #ffffff;
	text-decoration: none;
	display: block;
	width: 50px;
	height: 65px;
}

/*input[type="text"] {
     background: #444;
    border: 0 none;
    color: #d7d7d7;
    width:50px;
    padding: 6px 15px 6px 35px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
     margin:3px 0px;
    direction:rtl
}

input[type="text"]:focus {
    background:#ccc;
    color: #6a6f75;
    width: 120px;    
    margin:3px 12px;
    outline: none;
}

input[type="text"] {
    -webkit-transition: all 0.7s ease 0s;
    -moz-transition: all 0.7s ease 0s;
    -o-transition: all 0.7s ease 0s;
    transition: all 0.7s ease 0s;
}
 turning on messenger*/